body {
    font-family: Arial, sans-serif;
    background-color: #E8FFF3; /* mint muda */
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 40px auto;
    background: #D2FFE8; /* mint pastel */
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 150, 100, 0.2);
}

h1 {
    text-align: center;
    color: #0F8F6A; /* hijau mint gelap */
    letter-spacing: 1px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #17C79A; /* mint green solid */
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 20px;
    font-weight: bold;
}

.btn:hover {
    background-color: #0FAE86;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #F3FFF9; /* putih mint */
}

table th {
    padding: 12px;
    background-color: #17C79A;
    color: white;
    font-weight: bold;
}

table td {
    padding: 10px;
    border: 1px solid #A6EAD4;
    color: #0F6B52;
}

.link {
    color: #0FAE86;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.thumb {
    width: 80px;
    height: auto;
    border-radius: 5px;
    border: 2px solid #A6EAD4;
}